@model Idea_Pending_SMART.Models.Assignment
@{
}
<!-- anytime a form takes file uploads, you need the enctype to avoid security issues -->
<form method="post" asp-controller="Assignment" asp-action="Upsert" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            @* All for Model validation and HTML validation *@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.AssignmentID != 0 ? "Update" : "Create") Assignment</h2>
                <!-- ^^ there's a lambda here for an if-then-else. If Assignment id is not = 0, update. Otherwise, create -->
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">

                    <div class="col-3">
                    </div>

                    <div class="col-9">
                        <input id="AssignmentName" class="form-control" asp-for="AssignmentName" />
                        <span class="text-danger" asp-validation-for="AssignmentName"></span>
                    </div>
                    @if (Model.AssignmentID != 0)
                    {
                        <input type="hidden" asp-for="AssignmentID" />
                        <!-- very important to hide the Assignment id. the id needs to be on the form,
                        but the user doesn't need to see it. -->
                    }
                </div>

                <div class="form-group row mt-2">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <div class="form-group">

                            <input asp-for="AssignmentIssuetDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                            <span asp-validation-for="AssignmentIssuetDate" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label class="control-label"> Assignment Due Date</label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">

                            <input asp-for="AssignmentDueDate" id="datepicker2" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                            <span asp-validation-for="AssignmentDueDate" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <input id="AssignmentTotalMarks" class="form-control" asp-for="AssignmentTotalMarks" />
                        <span class="text-danger" asp-validation-for="AssignmentTotalMarks"></span>
                    </div>
                </div>




                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.AssignmentID != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <!-- we will need to write some javascript to validate the input at some point. -->
                                    <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-controller="Assignment" asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
</form>



@section Scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker2").datepicker();
        });
    </script>
}