<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Chantels Pretend Class list area</></span>
    </div>

</body>
</html>