@model List<Idea_Pending_SMART.Models.Permissions>

<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; background-color:darkslategray;
                            border-color:antiquewhite; border-width: 10px; border-style:double">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="65"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4 text-light">Areas</span>
    </a>
    <hr style="height: 3px; color:floralwhite">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Home" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Student" asp-controller="Student" asp-action="Index">Students</a>
        </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Attendance" asp-controller="Attendance" asp-action="Index">Attendance</a>
        </li>
        }


        @foreach(var perm in Model){
            @if(perm.PermissionsName.Equals("CanEditUsers")){
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Staff" asp-controller="Staff" asp-action="Index">Role Management</a>
                </li>
            }
             @if(perm.PermissionsName.Equals("CanEditApplications")){
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Application" asp-controller="Application" asp-action="Index">Applications</a>
                </li>
             }
             @if(perm.PermissionsName.Equals("CanInstructorStuff")){
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Section" asp-controller="Section" asp-action="Index">Class Management</a>
                </li>
             }

            @if (perm.PermissionsName.Equals("CanEditSemesters"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="SchoolManagement" asp-controller="SchoolManagement" asp-action="Index">School Management</a>
                </li>
            }
            @if (perm.PermissionsName.Equals("CanInstructorStuff"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Assignment" asp-controller="Assignment" asp-action="Index">Assignment</a>
            </li>
            }
            @if (perm.PermissionsName.Equals("CanSocialworkerStuff"))
            {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Meeting" asp-controller="Meeting" asp-action="Index">Meetings Center</a>
             </li>
            }
        }

    </ul>
    <hr style="height: 3px; color:floralwhite">
</div>