
@{
    ViewData["Title"] = "Student";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
@foreach (var obj in Model.Student)
{
    //need to grab user ID from login
    <span class="badge bg-gradient text-white"
      style="background-color:darkslategray; border-color:antiquewhite; border-width: 5px; border-style:double;
                        width:200px; height:70">
        <h6>Name: @obj.Student.ApplicationNameFirst @obj.Student.ApplicationNameLast</h6>
        <a asp-controller="Section" asp-action="Add" asp-route-sid="@obj.StudentID" 
       class="btn text-white text-capitalize">Open</a>
    </span>
}
</body>
