@model Idea_Pending_SMART.Models.Attendance
@{
}

<form method="post" asp-controller="Attendance" asp-action="Upsert" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.AttendanceID != 0 ? "Update" : "Create") Attendance</h2>

            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">

                    <div class="col-3">
                        <label> Meal Provided</label>
                    </div>

                    <div class="col-9">
                        <input id="MealProvided" class="form-control" asp-for="MealProvided" />
                        <span class="text-danger" asp-validation-for="MealProvided"></span>
                    </div>
                    @if (Model.AttendanceID != 0)
                    {
                        <input type="hidden" asp-for="AttendanceID" />

                    }
                </div>



                <div class="form-group row">
                    <div class="col-3">
                        <label class="control-label"> Date</label>
                    </div>
                    <div class="col-9">
                        <div class="form-group">

                            <input asp-for="Date" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label>Meal Eaten</label>
                    </div>
                    <div class="col-9">
                        <input id="MealEaten" class="form-control" asp-for="MealEaten" />
                        <span class="text-danger" asp-validation-for="MealEaten"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label>Student Name</label>
                    </div>
                    <div class="col-9">
                        <input id="student_name" class="form-control" asp-for="student_name" />
                        <span class="text-danger" asp-validation-for="student_name"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label>Class Name</label>
                    </div>
                    <div class="col-9">
                        <input id="class_name" class="form-control" asp-for="class_name" />
                        <span class="text-danger" asp-validation-for="class_name"></span>
                    </div>
                </div>





                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.AttendanceID != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {

                                    <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-controller="Attendance" asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
</form>



@section Scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}