@model Idea_Pending_SMART.FilesToSort.RegistrationRequest
<!--Full-length is needed above due to members having missmatched .Net versions-->
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">

    <div>
        <h1>Thank you, @Model?.Name!</h1>
    </div>

</body>
</html>