

<h1>User management</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-info">Index</a>
<a asp-controller="Staff" asp-action="Roles" class="btn btn-dark">Roles</a>
<a asp-controller="Staff" asp-action="PermsIndex" class="btn btn-dark">Permissions</a>

