html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 30px;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

idtest{
    background-color:black;
}


div {
    width: 100vw;
    height: 100vh;
}