@model Idea_Pending_SMART.Models.Enrollment
@{
    ViewBag.Title = "Classtime";
    var cid = ViewBag.cid;
    var sid = ViewBag.sid;

}
<!-- anytime a form takes file uploads, you need the enctype to avoid security issues -->

            info passed: @sid @cid
                                <form asp-action="Add" method="post" class="m-2">
                                    <div class="form-group">
                                        <label asp-for="StudentID" class="form-label">Your StudentID:</label>
                                        <input asp-for="@sid" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ClassID" class="form-label">Your ClassID: </label>
                                        <input asp-for="@cid"  class="form-control" />
                                    </div>

         <button type="submit" class="btn btn-primary mt-3">Submit Student</button>
</form>



@section Scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
    </script>
}