@{
    ViewData["Title"] = "Semester";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Chantels Pretend Class list area</></span>
    </div>
    <div class="flex-lg-column">
        <h2>testing</h2>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Semester
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }


    </div>



</body>
</html>
