@{
    ViewData["Title"] = "Class Description";
    ViewData["Title"] = "Student Count";
    ViewData["Title"] = "UserID";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
       <h4 class="bg-opacity-50 border-warning p-2 border-top border-bottom">Students in Class</h4>
    <div class="flex-lg-column">
        @foreach (var obj in Model)
        {
            @if (obj.UserID == 2)
            {
                <a asp-controller="Section" asp-action="Open" asp-route-id="@obj.ClassID"
           class="btn" style="background-color:transparent" role="button" >
                    <span class="badge bg-gradient bg-opacity-50 bg-warning list-group-item-action px-3 border-warning">
                        <tr>
                            <th width="80%">
                            <td>
                                <h3>@obj.ClassDescription</h3>
                                <h4>Need Enrollment Count here / @obj.Studentcount</h4>
                                <h4>Instructor: @obj.UserID</h4>
                            </td>

                        </tr>
                        <td>
                        </td>
                    </span>
                </a>
            }
        }



    </div>



</body>
</html>
