@{
    ViewData["Title"] = "Class Description";
    ViewData["Title"] = "Student Count";
    ViewData["Title"] = "UserID";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART System</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<div class="flex-lg-column" style=" height:350px; margin-top:20px;">
<body>
           <h4 class="bg-opacity-50 border-warning p-2 border-top border-bottom">Classes Available</h4>
    <div class="overflow-auto w-100 shadow-1-strong rounded mb-4" style="max-width: 1200px; max-height:400px; ">

        @foreach (var obj in Model.Class)
        {
            //need to grab user ID from login
            @if (obj.UserID == 2) 
            {
                <a asp-controller="Section" asp-action="Open" asp-route-id="@obj.ClassID"
               class="btn" style="background-color:transparent; vertical-align:top; role="button">


                    <span class="badge bg-gradient bg-opacity-50 bg-warning list-group-item-action px-3 border-warning">
                        <tr>
                            <th width="80%">
                            <td>
                                <h3>@obj.ClassDescription</h3>
                                <h4>@obj.ClassTime.Day @obj.ClassTime.TimeStart</h4>
                            </td>

                        </tr>
                        <td>
                        </td>
                    </span>
                </a>

            }
        }
        
        </div>

</body>
</div>
</html>
