
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Idea_Pending_SMART</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Idea_Pending_SMART.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SMART SYSTEM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">DASHBOARD</></span>
        </div>
    </header>
<<<<<<< Updated upstream
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="d-flex" id="wrapper">

        <div class="bg-light border-light" id="sidebar-wrapper">

            <div class="sidebar-heading">Navigation</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Student Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Application Management</a>

                <a class="list-group-item list-group-item-action bg-light" asp-area="Instructor" asp-controller="Class" asp-action="ClassroomList">Classroom Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Semester Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Staff Management</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Messages</a>
=======
    <div class="container-fluid px-0">
        <div class="row flex-nowrap">
            <!--Travis attemping to make a sidebar-->
            <div class="col min-width-300-md">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4">Areas</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Home" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Application" asp-controller="Semester" asp-action="Index">Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Section" asp-controller="Section" asp-action="ClassroomList">Class Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Student" asp-controller="Student" asp-action="Index">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Staff" asp-controller="Staff" asp-action="Index">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Semester" asp-controller="Semester" asp-action="Index">Semesters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Meeting" asp-controller="Meeting" asp-action="Index">Meetings Center</a>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
>>>>>>> Stashed changes
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Idea_Pending_SMART - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
